<mat-toolbar color ="primary">
    <mat-toolbar-row fxLayoutAlign="start center">
        <div fxLayout = "row">
            <button mat-button>
                <mat-icon>home</mat-icon>
                <span class="logo">
                    Stormer Saloon
                </span>
            </button>
            <div *ngIf ="!deviceXs">
                <a routerLink="/storage-list" routerLinkActive="active" ariaCurrentWhenActive="page"><button mat-button ><mat-icon>menu_open</mat-icon><span>Saloon Inventory</span></button></a>
                <a routerLink="/add-to-storage" routerLinkActive="active" ariaCurrentWhenActive="page"><button mat-button><mat-icon>add</mat-icon><span>Add to Saloon Inventory</span></button></a>
                
            </div>
        </div>

    </mat-toolbar-row>

    <mat-toolbar-row *ngIf="deviceXs" fxLayoutAlign="space-between end">
        <div>
            <button mat-button>
                <mat-icon>add</mat-icon>
                <span>
                    Saloon Inventory
                </span>
            </button>
            <button mat-button>
                <mat-icon>remove</mat-icon>
                <span>
                    Add to Saloon Inventory
                </span>
            </button>
        </div>
    </mat-toolbar-row>

</mat-toolbar>