<input type ="string" name="searchName" [(ngModel)]="searchName" (change)="onChange()"/>
<!-- parent child components @Input/@output

seperate child component that renders a single artist object on a card
pass the selected artist to the child component

<child-singleitemcard-component>

-->

<section *ngIf="storage">
    <div>ID: {{storage.id}}</div>
    <div>Name: {{storage.itemName}}</div>
    <div>Size: {{storage.itemSize}}</div>
    <div>Quantity: {{storage.quantity}}</div>
    <div> Descriptio: {{storage.itemDesc}}</div>
</section>
<div><button type="button" pButton label="Submit"></button></div>