<label>Search by name:</label>
<input type ="string" class="inputting" name="searchName" [(ngModel)]="searchName" placeholder="Name"/>
<button type="button" pButton label="Submit" class="button"(click)="onSub()"></button>

<div class="content" *ngIf="shown">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="100%"  fxFlex.xs = "100%" fxFlex.sm="33%" > 
            <mat-card class ="mat-elevation-z4">
            <mat-card-header class="head" >
               <mat-card-title><strong >{{storage.itemName}}</strong></mat-card-title> 
               <p-button  (click)="isShown()"  class="exit"><mat-icon class="center" >close</mat-icon></p-button> 
            </mat-card-header>
            <mat-card-content>
                <p class="list-content"><strong>ID:</strong> {{storage.id}}</p>
                <p class="list-content"> <strong>Item Size:</strong> {{storage.itemSize}}</p>
                <p [ngClass]="{'outofstock':storage.quantity === 0}" class="list-content">
                    <strong>Quantity: </strong>   {{storage.quantity}}
                </p> 
                <p class="list-content"><strong>Item Description:</strong> {{storage.itemDesc}}</p>
            </mat-card-content>
            <mat-card-actions fxLayoutAlign="space-evenly">
            </mat-card-actions>
        </mat-card>
        </div>
    </div>
    
   
</div>