<label>Search by name:</label>
<input type ="string" class="inputting" name="searchName" [(ngModel)]="searchName" (change)="onChange()"/>
<button type="button" pButton label="Submit" class="button"></button>

<div class="content" *ngIf="storage">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="100%"  fxFlex.xs = "100%" fxFlex.sm="33%" > 
            <mat-card class ="mat-elevation-z4">
            <mat-card-header class="head" fxLayoutAlign="start space-between">
               <mat-card-title>{{storage.itemName}}</mat-card-title> 
               <mat-icon class="center">close</mat-icon>
            </mat-card-header>
            <mat-card-content>
                <p class="list-content">ID: {{storage.id}}</p>
                <p class="list-content"> Item Size: {{storage.itemSize}}</p>
                <p [ngClass]="{'outofstock':storage.quantity === 0}" class="list-content">
                        Quantity: {{storage.quantity}}
                </p> 
                <p class="list-content">Item Description: {{storage.itemDesc}}</p>
            </mat-card-content>
            <mat-card-actions fxLayoutAlign="space-evenly">
                <p-button class="flex-button">Delete?</p-button>
                
                <p-button>Update?</p-button>
            </mat-card-actions>
        </mat-card>
        </div>
    </div>
    
   
</div>