
.outofstock {
  font-weight: 700;
  color: #FF5252;
  text-decoration: line-through;
}
.content{
  padding:16px;
  height: max-content;
  
}
.content > mat-card{
  width: 200px;

}
.head{
  display: flex;
  font-weight: bolder;
  border-style: solid;
  padding:16px;
  margin-bottom: 20px;
  align-items: center;
  
  
}

.mat-card-title{
  

  font-weight: bolder;
  padding: 3px;
  font-size: x-large;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
}