

<div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="25%"  fxFlex.xs = "100%" fxFlex.sm="33%" *ngFor="let storage of currStorage"> 
            <mat-card class ="mat-elevation-z4">
            <mat-card-header class="head" fxLayoutAlign="start">
               <mat-card-title>{{storage.itemName}}</mat-card-title> 
            </mat-card-header>
            <mat-card-content>
                <p class="list-content"><strong>ID:</strong> {{storage.id}}</p>
                <p class="list-content"> Item Size: {{storage.itemSize}}</p>
                <p [ngClass]="{'outofstock':storage.quantity === 0}" class="list-content">
                        Quantity: {{storage.quantity}}
                </p> 
                <p class="list-content">Item Description: {{storage.itemDesc}}</p>
            </mat-card-content>
            <mat-card-actions fxLayoutAlign="space-evenly">
                <p-button class="flex-button" name="onDelete" (onClick)="onDelete(storage.id)" >Delete?</p-button>
                
                <p-button class="flex-button">Update?</p-button>
            </mat-card-actions>
        </mat-card>
        </div>
    </div>
    
   
</div>