.outofstock {
  font-weight: 700;
  color: #FF5252;
  text-decoration: line-through;
}
.content{
  padding:16px;
}
.content > mat-card{
  width: 200px;
}
.head{
  display: flex;
  border-style: solid;
  justify-content: space-between; padding:16px;
}
.list-content{
  font-size: large;
}
.inputting {
  margin:20px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
}
.inputting {
  margin:20px;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);

}
.exit{
  align-items: end;
}
.mat-card-title{
  padding-top: 8px;
}