 <label for="stored"> Add an item to storage</label>
<div class="form-group">
    <input type="text" class="form-control" id="id"
       required
       name="id">
</div>

<div class="form-group">
    <input type="text" class="form-control" id="name"
       required
        name="name">
</div>

<div class="form-group">
    <input type="text" class="form-control" id="itemSize"
       required
        name="itemSize">
</div>

<div class="form-group">
    <input type="text" class="form-control" id="quantity"
       required
       name="quantity">
</div>

<div class="form-group">
    <input type="text" class="form-control" id="itemDesc"
        name="itemDesc">
</div>
<button type="submit" class="btn btn-success" >Submit</button> 
